.blinking-cursor {
    font-weight: bold;
    font-size: inherit;
    color: black;
    animation: blink 0.8s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .text-center h1 {
    white-space: nowrap;
  }
  